@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Mulish:wght@300;500;700&display=swap");
@import "normalize.css";
#root {
  max-width: 768px;
  /*   padding: 2rem; */
  font-family: "Mulish", sans-serif;
}
body,
figure,
p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}
h1,
h2 {
  font-family: "Merriweather", serif;
  color: #110e47;
  /* regular er default font-weight, derfor er den ikke defineret */
}

h3 {
  font-weight: 700;
  /* sort er default, derfor behøver vi ikke definere den */
}

h4 {
  color: #9c9c9c;
}
h5 {
  color: black;
}
.flexContainer {
  display: flex;
}
.gridContainer {
  display: grid;
}
.space-between {
  justify-content: space-between;
  align-items: center;
}

.row {
  flex-direction: row;
}

.fixed {
  position: fixed;
}

header {
  height: 60px;
  grid-template-columns: 1fr 1fr 1fr; /* definere et template for hvordan colonerne skal være */
}

header {
  height: 60px;
}
.movieCardContainer {
  margin: 2rem -2rem;
  gap: 1rem;
  padding-left: 2rem;
  padding-right: 1rem;
  height: 320px;
  overflow-x: scroll;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  /* scroll-behavior: smooth; */
}

/* Fordi der på rooten er 2rem, men vi vil ikke have de 2 rem på vores movie-card, derfor -2 */
.movieCardContainer::-webkit-scrollbar {
  display: none;
}

.padding {
  padding: 2rem;
}

.space{
  padding: 1rem;
}
.column {
  flex-direction: column;
}

a {
  text-decoration: none;
  color: inherit;
}
